SOAP/calculatorService.wsdl

<definitions name="Calculator" targetNamespace="http://example.com/math"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/math"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <schema targetNamespace="http://example.com/math" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="MultiplyRequest">
                <complexType>
                    <sequence>
                        <element name="x" type="xsd:float"/>
                        <element name="y" type="xsd:float"/>
                    </sequence>
                </complexType>
            </element>
            <element name="MultiplyResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="xsd:float"/>
                    </sequence>
                </complexType>
            </element>



          

            <element name="DivideRequest" type="tns:MultiplyRequest"/>
            <element name="DivideResponse" type="tns:MultiplyResponse"/>
        </schema>
    </types>


    <message name="MultiplyRequest">
        <part name="parameters" element="tns:MultiplyRequest"/>
    </message>
    <message name="MultiplyResponse">
        <part name="parameters" element="tns:MultiplyResponse"/>
    </message>

    <message name="DivideRequest">
        <part name="parameters" element="tns:DivideRequest"/>
    </message>
    <message name="DivideResponse">
        <part name="parameters" element="tns:DivideResponse"/>
    </message>

    <portType name="CalcPort">
       
        <operation name="multiply">
            <input message="tns:MultiplyRequest"/>
            <output message="tns:MultiplyResponse"/>
        </operation>
        <operation name="divide">
            <input message="tns:DivideRequest"/>
            <output message="tns:DivideResponse"/>
        </operation>
    </portType>

    <binding name="MathBinding" type="tns:CalcPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
           <operation name="multiply">
            <soap:operation soapAction="http://example.com/math#Multiply"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        <operation name="divide">
            <soap:operation soapAction="http://example.com/math#Divide"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>

    <service name="Calculator">
        <port name="CalcPort" binding="tns:MathBinding">
            <soap:address location="http://localhost:8000/calc"/>
        </port>
    </service>
</definitions>


